@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using (Html.BeginForm("SendMessage", "Email", FormMethod.Post))
{
    <label for="to">To:</label>
    <input type="text" name="to" required /><br />

    <label for="subject">Subject:</label>
    <input type="text" name="subject" required /><br />

    <label for="body">Body:</label>
    <textarea name="body" required></textarea><br />

    <input type="submit" value="Send" />
}