@model Final_Project.Models.DomainModels.Clinic

@{
    ViewData["Title"] = "Details";
}

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="Email"></label>
    </dt>
    <dd class="col-sm-10">
        <span asp-for="Email">@Model.Email</span>
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Name"></label>
    </dt>
    <dd class="col-sm-10">
        <span asp-for="Name">@Model.Name</span>
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Country"></label>
    </dt>
    <dd class="col-sm-10">
        <span asp-for="Address">@Model.Country</span>
    </dd>
</dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
